 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

   <p> The date is  </p>
   
   <%= (Date.today.strftime("%A, %B %d, %Y")) %>
  </body>
</html>
 
 
